@import '../../common_projects_utilities/css/reset';

/* FONTS */
$roboto: 'Roboto', sans-serif;

/* COLORS */
$primary-color: #000;
//Partidos
$psoe-color: #f60b01;
$pp-color: #48aafd;
$masmadrid-color: #20c0b2;
$vox-color: #77be2d;
$cs-color: #f45a09;
$podemos-color: #692772;
$pacma-color: #adbd22;
$recortes-color: #575757;

/* BASICS */
body {
    font-family: $roboto;
    color: $primary-color;
}
img {
    max-width: 100%;
    height: auto;
}
a {
    color: $primary-color;
    text-decoration: none;
}

.iframe-pixel, .ec_visit_pixel {display: none;}

/* CUSTOM */
.text-center {text-align: center;}

/* LAYOUT */
.section {
    height: 565px;
}

.row {
    display: flex;
    
    &--column {flex-direction: column}
    &--between {justify-content: space-between;}
    &--end {justify-content: flex-end;}
    &--acenter {align-items: center;}
    &--full-height {height: 100%;}
    &--middle {
        position: relative;
        &::before, &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: -7px;
        }
        &::before {
            left: 0;
            border-left: 1px dotted rgba($primary-color,.4);
            transform: translateX(-16px);
        }
        &::after {
            right: 0;
            border-right: 1px dotted rgba($primary-color,.4);
            transform: translateX(16px);
        }
    }
}

/* WIDGET */
.widget {
    width: 996px;
    height: 565px;
    
    box-sizing: border-box;
    //padding: 9px 12px; //TO REVIEW: No especificado en diseño
    margin: 0 auto;
    &__header {margin-bottom: 30px;}
    &__main {
        margin-top: 25px;
        flex: 1;
    }
    &__columns {height: 100%;}
    &__column {
        position: relative;
        box-sizing: border-box;
        width: 33.33%;
        padding: 0 16px 20px; //TO REVIEW: Valor para 7 partidos visibles por defecto
        &::after {
            content: '';
            position: absolute;
            left: 16px;
            right: 16px;
            bottom: 0;
            border-bottom: 1px dotted rgba($primary-color,.4);
        }
        &:first-child {
            padding-left: 0;
            &::after {left: 0}
        }
        &:last-child {
            padding-right: 0;
            &::after {right: 0}
        }

        &-map-desktop {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}

/* Widget Header */
//Title
.title {
    font-weight: 900;
    font-size: 18px;
    line-height: 1;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 50px;
        height: 1px;
        transform: translateY(8px);
        background: $primary-color;
    }
}

//Menu
.menu {
    &__item {
        margin-left: 32px;
        font-weight: 900;
        font-size: 15px;
        line-height: 1;
        position: relative;
        &:first-child {margin-left: 0};
        &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 1px;
            transform: translateY(5px);
            background: #292929;
            transition: width .6s;
        }
        &:hover {
            &::before {width: 18px;}
        }
    }
}

/* Components */
.heading {
    font-weight: 700;
    font-size: 15px;
    letter-spacing: .13px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 18px;
        height: 1px;
        transform: translateY(8px);
        background: $primary-color;
    }

    &--participacion {
        margin-bottom: 24px;
    }
}

//Bloque izquierda vs derecha
.vs {
    &__label {
        display: flex;
        align-items: center;
        //Texto
        h3 {
            font-weight: 700;
            font-size: 15px;
            letter-spacing: .13px;
            display: inline;
        }
        //Pregunta
        .question-mark {
            display: inline-block;
            position: relative;
            width: 15px;
            height: 15px;
            background-color: #000;
            border-radius: 50%;
            cursor: pointer;
            //Texto
            text-align: center;
            font-size: 13px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            color: #fff;

            &:first-of-type {
                margin: 0 4px;
            }

            &:hover .question-text {
                display: block;
                opacity: 1;
            }

            .question-text {
                display: none;

                background: #f5f5f5;
                padding: 2.5px;

                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #000;
                text-align: center;

                position: absolute;
                z-index: 1;
                top: -25px;                

                opacity: 0;
                transition: opacity 0.3s;

                &--izq {
                    width: 170px;
                    left: -80px;
                }
                &--der {
                    width: 130px;
                    left: -60px;
                }
            }            
        }
    }
    &__bar {
        position: relative;
        margin-top: 11px;
        height: 11px;
        background: #ccc;
    }
    &__value {
        cursor: pointer;
        width: 0;
        transition: width .6s;
        &--izquierda {background: #fbdd49;}
        &--derecha {background: #3c4554;}
    }
    &__limit {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,-46px);
        width: 60px;
        font-weight: 400;
        font-style: italic;
        font-size: 12px;
        letter-spacing: .1px;
        &::after {
            content: '';
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translate(-50%,4px);
            width: 1px;
            height: 40px;
            background: $primary-color;
        }
    }
}

//Mapa de provincias
.map {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 0 10px;
    svg {
        .ie & {height: 280px;}
    }
    path {
        cursor: pointer;
        fill: #c6c6c6;
        stroke: #fff;
        opacity: .8;
        &:hover {opacity: 1;}
    }    
}

.button-map {
    box-sizing: border-box;
    width: 160px;
    margin-left: 16px;
    padding: 8px;
    border-radius: 2px;
    background-color: #121212;
    span {
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
}

//Hemiciclo
#hemiciclo {
    margin-top: 8px;
    width: 100%;
    height: 130px;
    position: relative;

    svg {
        position: absolute;
        g .arc, g .small-arc {
            path:hover {cursor: pointer;}            
        }
    }

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 0px;
        transform: translate(-50%,0px);
        width: .5px;
        height: 132px;
        background: $primary-color;
    }
}

//Pactos
.pactos {
    margin-top: 12px;
    border-top: 1px dotted rgba($primary-color,.4);
    padding-top: 12px;

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 210px;

        &--three { margin-top: 20px; }
        &--four { margin-top: 32px; }
        &--five { margin-top: 33px; }
        &--six { margin-top: 20px; }
    }    
}

.pacto {
    position: relative;
    &:first-child {margin-top: 0}
    &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%,4px);
        width: .5px;
        background: $primary-color;
    }
    .pactos__list--six &::after { height: 15px; }
    .pactos__list--five &::after { height: 15px; }
    .pactos__list--four &::after { height: 20px; }
    .pactos__list--three &::after { height: 20px; }

    &__label {
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.13px;
        color: #000000;
        
        .pactos__list--six & { font-size: 12px; margin-bottom: 8px; }
        .pactos__list--five & { font-size: 15px; margin-bottom: 8px; }
        .pactos__list--four & { font-size: 15px; margin-bottom: 8px; }
        .pactos__list--three & { font-size: 15px; margin-bottom: 16px; }
    }
    &__bar {
        position: relative;
        
        border-radius: 2px;
        background: #e7e7e7;
        overflow: hidden;
        &:hover {
            cursor: pointer;
            div {opacity: 1;}
        }

        .pactos__list--six & { height: 7px; }
        .pactos__list--five & { height: 7px; }
        .pactos__list--four & { height: 12px; }
        .pactos__list--three & { height: 12px; }
    }
    &__value {
        pointer-events: none;
        opacity: .8;
        width: 0;
        transition: width .6s;
        &--psoe {background-color: $psoe-color;}
        &--pp {background-color: $pp-color;}
        &--masmadrid {background-color: $masmadrid-color;}
        &--podemos {background-color: $podemos-color;}
        &--cs {background-color: $cs-color;}
        &--vox {background-color: $vox-color;}
        &--recortes {background-color: $recortes-color;}
    }
}

//Tabla resultados
.table {
    &__header {
        padding-bottom: 8px; //TO REVIEW: Valor para 8 partidos visibles por defecto
        border-bottom: 1px solid #efefef;
    }
    &__content {
        height: 195px; //TO REVIEW: Valor para 8 partidos visibles por defecto
        overflow: auto;
        &::-webkit-scrollbar {width: 4px;}
        &::-webkit-scrollbar-track {
          background: #e7e7e7;
          border-radius: 2px; 
        }
        &::-webkit-scrollbar-thumb {
          background: #0e0e0e; 
          border-radius: 2px;
        }
        &::-webkit-scrollbar-thumb:hover {background: $primary-color;}
    }
    &__column {
        box-sizing: border-box;
        width: 33.33%;
        text-align: center;
        &:first-child {
            text-align: left;
            padding-left: 5px;
        }
        &:last-child {
            text-align: right;
        }
    }
    &__heading {
        font-weight: 700;
        font-size: 15px;
        color: #1c1c1c;
    }
    &__row {
        height: 18.5px;
        padding: 7px 0 6px;
        border-bottom: 1px solid #efefef;
    }
    &__partido {
        padding-left: 18px;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.13px;
        color: #4a4a4a;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background: #d0d0d0;
        }
        &--psoe {
            &::before {background: $psoe-color;}
        }
        &--pp {
            &::before {background: $pp-color;}
        }
        &--masmadrid {
            &::before {background: $masmadrid-color;}
        }
        &--vox {
            &::before {background: $vox-color;}
        }
        &--cs {
            &::before {background: $cs-color;}
        }
        &--podemos {
            &::before {background: $podemos-color;}
        }
        &--pacma {
            &::before {background-color: $pacma-color;}
        }
        //Por si las moscas
        &--recortes {
            &::before {background: $recortes-color;}
        }
    }
    &__value {
        font-weight: 400;
        font-size: 14px;
        letter-spacing: .16px;
        color: #4a4a4a;
        &--difference {
            margin: 0 8px 0 16px;
            color: #aeaeae;
            width: 17px;
        }
    }
}

//Resume
.resume {
    &__item {
        margin-bottom: 16px;
        &:last-child {margin-bottom: 0;}
    }
    &__label {
        font-weight: 700;
        font-size: 15px;
        letter-spacing: .13px;
        margin-right: 6px;
    }
    &__percent {
        font-weight: 400;
        font-size: 15px;
        letter-spacing: .13px;
        color: #a7a7a7;
    }
    &__bar {
        margin-top: 7px;
        height: 7px;
        border-radius: 2px;
        background: #e1e1e1;
    }
    &__value {
        cursor: pointer;
        width: 0;
        border-radius: 2px;
        background: #0e0e0e;
        transition: width .6s;
    }
}

/* Tooltip */
.tooltip-widget-madrid {
    position: absolute;
    display: none;

    box-sizing: border-box;                
    height: auto;                   
    padding: 8px;
    background: #f5f5f5;
    pointer-events: none;

    //General - Textos
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    color: #000000;

    //Elementos CSS para municipios
    &--mun {
        width: 190px;
        .widget__title {
            padding-bottom: 8px;
            border-bottom: .5px dotted #000;
            margin-bottom: 8px;
    
            font-size: 14px;
            font-weight: bold;

            //Lógica de corte
            text-overflow: ellipsis;
            overflow: hidden; 
            width: 100%;
            white-space: nowrap;
        }
    
        .b-fuerzas {
            margin-bottom: 8px;
            display: flex;
            .sb-fuerza {
                width: 50%;
                span:first-of-type {
                    display: block;
                    font-size: 12px;
                    font-weight: 500;
                    color: #000000;
                    opacity: .6;
                    margin-bottom: 8px;
                }
                span:last-of-type {
                    display: block;
                    font-size: 12px;
                    font-weight: 700;
                    color: #000000;
                }
            }
        }
    
        .bloques {
            &__title {
                display: block;
                font-size: 12px;
                font-weight: 500;
                color: #000000;
                opacity: .6;
    
                margin-bottom: 8px;
            }
            &__items {
                display: flex;
                flex-direction: column;
                .bloque__item {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 4px;
                    &:last-of-type {
                        margin-bottom: 0px;
                    }
                    span:first-of-type {
                        width: 30px;
                        font-size: 12px;
                        color: #000000;
                        margin-right: 4px;
                    }
                    .bloque__bar {
                        height: 6px;
                        width: 10px;
                        max-width: 135px;
                        border-radius: 2px;
                    }
                    span:last-of-type {
                        font-size: 12px;
                        color: #000000;
                        margin-left: 4px;
                    }
                }
            }
        }
    }

    //Elementos CSS para resto de elementos
    &--general {
        width: auto;
        font-size: 12px;
        font-weight: 500;
        color: #000000;
    }    
}

.visible-tablet {display: none;}
.visible-mobile {display: none;}

/* RESPONSIVE */
//Versión < 996px
@media screen and (max-width: 995px) {
    .widget {width: 100%;}
    .table__value {font-size: 13px;}
}

//Versión iframe para interiores (ancho interior 640px)
@media screen and (max-width: 900px) {
    .row {
        &--tablet {
            display: flex;
            &-row {flex-direction: row;}
            &-center {justify-content: center}
            &-between {justify-content: space-between}
            &-around {justify-content: space-around}
        }
        &--middle {
            &::before, &::after {content: none;}
        }        
    }
    .widget {
        padding: 4px;
        padding-top: 0px;
        &__header {
            height: 40px;
            margin-bottom: 0;
        }
        &__main {
            overflow: hidden;
            margin-top: 0;
            padding-top: 35px;
        }
        &__columns {transition: transform .6s;}
        &__column {
            width: 100%;
            padding: 0;
            flex-shrink: 0;
            &::after {content: none;}
            &--second {order: 2;}
            &--third {
                order: 1;
                padding-bottom: 15px;
                border-bottom: 1px dotted rgba($primary-color,.4);
            }
        }
    }

    .menu {
        position: absolute;
        top: 0px;
        right: 4px;
        width: 100%;

        &--active {
            z-index: 10;
        }

        .menu__icon {
            width: 47px;
            height: 47px;
            background-color: #000;
            position: absolute;
            top: 0px;
            right: 0px;
            z-index: 10;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .menu__links {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            height: 565px;
            max-height: 0;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 8px;
            width: calc(100% - 8px);
            background: #000;
            transition: padding-top .6s, max-height .6s;

            &.toggle {
                max-height: 565px;
            }
        }

        .menu__link {
            font-weight: 500;
            color: #fff;
            padding-bottom: 22px;
            width: calc(100% - 48px);
            margin: 0 auto 50px auto;
            border-bottom: 1px dotted rgba(254, 254, 254, 0.5);
        }
    }

    .vs {
        &__bar {
            margin-top: 8px;
            background: #e7e7e7;
        }
    }

    .table {
        margin-top: 20px;
        &__column {
            width: 25%;
            &:first-child {padding-left: 42px;}
            &:last-child {width: 50%;}
        } 
        &__value {
            &--escanos {width: 17px;}
            &--difference {margin: 0 12px 0 0;}
        }
    }

    .resume {
        &__item {
            margin-top: 0;
            width: 46%;
        }
    }

    .vs__limit-hemiciclo {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 40px);
        width: 60px;
        font-weight: 400;
        font-style: italic;
        font-size: 12px;
        letter-spacing: .1px;
        &::before {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0%;
            transform: translate(-50%, -38px);
            width: 1px;
            height: 157px;
            background: $primary-color;
        }
        &--text {
            .pactos--six & {display: none;}
        }
    }
    #hemiciclo {
        margin-top: 0;
        height: 156px;

        &::after {
            content: '';
            display: none;
        }
    }

    .pactos {
        margin-top: 40px;
        .pactos--six & {margin-top: 20px;}

        padding-top: 0;
        border-top: 0;

        &__list {
            &--three { height: 176px; margin-top: 25px; }
            &--four { height: 176px; margin-top: 25px; }
            &--five { height: 176px; margin-top: 25px; }
            &--six { margin-top: 22px; }
        } 

    }

    .pacto {
        position: relative;
        &:first-child {margin-top: 0}
        &::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%,4px);
            width: 1px;
            background: $primary-color;
        }
        .pactos__list--six &::after { height: 15px; }
        .pactos__list--five &::after { height: 15px; }
        .pactos__list--four &::after { height: 18px; }
        .pactos__list--three &::after { height: 28px; }

        &__label {
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.13px;
            color: #000000;
            
            .pactos__list--six & { font-size: 12px; margin-bottom: 8px; }
            .pactos__list--five & { font-size: 12px; margin-bottom: 8px; }
            .pactos__list--four & { font-size: 15px; margin-bottom: 8px; }
            .pactos__list--three & { font-size: 15px; margin-bottom: 8px; }
        }
        &__bar {
            position: relative;
            
            border-radius: 2px;
            background: #e7e7e7;
            overflow: hidden;
            &:hover {
                cursor: pointer;
                div {opacity: 1;}
            }

            .pactos__list--six & { height: 7px; }
            .pactos__list--five & { height: 7px; }
            .pactos__list--four & { height: 10px; }
            .pactos__list--three & { height: 20px; }
        }
    }

    .partidos {position: relative;}   

    .controls {margin-top: 16px;}

    .arrow {
        width: 48px;
        height: 48px;
        border-radius: 2px;
        background: #121212;
        transition: background .6s;
        &--disabled {background: rgba(#121212,.3);}
    }

    .dot {
        margin: 0 4px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #c4c4c4;
        transition: background .6s;
        &--active {background: $primary-color;}
    }
    .visible-tablet {display: block;}
    .hidden-tablet {display: none;}

    //// NUEVO MADRID ///// 
    .button-map {
        box-sizing: border-box;
        width: 100%;
        height: 45px;
        margin-left: 0px;
        
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            font-size: 15px;
            line-height: 1.33;
        }
    }
}

//Posicíón 85 y adaptación móvil
@media screen and (max-width: 525px) {
    .table {
        &__column {
            width: 33.33%;
            &:first-child {padding-left: 5px;}
            &:last-child {width: 33.33%;}
        } 
        &__value {
            &--escanos {width: auto;}
            &--difference {margin: 0 4px 0 8px;}
        }
    }
}

@media screen and (max-width: 485px) {
    .row {
        &--mobile {
            &-center {justify-content: center}
            &-end {justify-content: flex-end}
        }
    }
    .widget {
        &__header {margin-bottom: 0px;}
        &__main {padding-top: 22px}
        &__column {
            &--second {padding-bottom: 12px;}
            &--third {padding-bottom: 20px;} //TO REVIEW: Valor para 8 partidos visibles por defecto
        }
    }
    
    .vs {
        &__bar {margin-top: 16px;}
        &__limit {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%,-6px);
            width: 1px;
            height: 24px;
            background: $primary-color;
            &::after {content: none;}
        }

        //Pregunta
        .question-mark {

            .question-text {
                display: none;

                background: #f5f5f5;
                padding: 2.5px;

                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #000;
                text-align: center;

                position: absolute;
                z-index: 1;
                top: -25px;                

                opacity: 0;
                transition: opacity 0.3s;

                &--izq {
                    width: 170px;
                    left: -60px;
                }
                &--der {
                    width: 130px;
                    left: -100px;
                }
            }            
        }
    }
    
    

    .resume {
        padding-top: 20px;
        border-top: 1px dotted rgba(0, 0, 0, 0.4);
        &__item {
            width: 50%;            
            margin-bottom: 0px;
            &:first-of-type {
                order: 1;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    width: 1px;
                    height: 26px;
                    background: $primary-color;
                }
            }
            &:last-of-type {
                order: 2;                
            }
        }
        &__label {text-transform: capitalize;}
    }

    .controls {margin-top: 14px;}
    .visible-mobile {display: block;}
    .hidden-mobile {display: none;}
}

@media screen and (max-width: 350px) {
    .resume {
        &__label, &__percent {font-size: 14px;}
    }
}